{% extends 'base.html.twig' %}

{% block title %} Catégorie {{ categoryName }} {% endblock %}

{% block body %}

<div class="title-pages">
    <h1>Catégorie : {{ categoryName }}</h1>
</div>

<div class="content-category-series">

        {% if program == true %}
            {% for programs in program | reverse %}
                    <div id="category-series">

                            <a href="{{ path("program_show", { id: programs.id }) }}"><img id="category-series-img" src="{{ programs.poster }}"></a>

                            <h2 class="title-serie">
                                {{ loop.index }}. {{ programs.title }}
                            </h2>
                                <p class="summary-serie">{{ programs.summary|slice(0, 180) }}...</p>
                                <a href="{{ path("program_show", { id: programs.id }) }}"><p class="btn-lire">Lire plus</p></a>
                    </div>
            {% endfor %}
        {% else %}
           <p>Aucune série ne fait partie de cette catégorie.</p>
        {% endif %}

</div>

    <a class="btn-return" href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>

{% endblock %}