{% extends 'base.html.twig' %}

{% block title %}Episode {{ episode.id }} {% endblock %}

{% block body %}

<div id="content" class="content">

    <div class="content-page">

        <div class="media-body">

                <h1>{{ program.title }}</h1>
                    <p>{{ season.year }}</p>
                        <h2> Épisode {{ episode.number }} • {{ episode.title }} </h2>
                            <p>{{ episode.synopsis }}</p>

            <button><a href="{{ path("program_showSeason", { slug: program.slug, season_id: season.id }) }}">
                Tous les épisodes de la saison {{ season.number }} de {{ program.title }}
            </a></button>

            <h2>Ajouter un commentaire</h2>

                {% if is_granted("ROLE_ANONYMOUS") %}
                    <p>Vous devez être connecté.e pour poster un commentaire.</p>
                    <a href="{{ path('login') }}">Connexion</a>
                {% endif %}

                {% if is_granted("ROLE_CONTRIBUTOR") %}
                    {{ form_start(comment_form, {attr: {novalidate:'novalidate' }})}}
                        <div class="test">{{ form_widget(comment_form) }}</div>
                        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                    {{ form_end(comment_form) }}
                {% endif %}

            <h2>Commentaires</h2>

                    {% for comment in episode.comments %}
                        <p> {{comment.userId.username}} </p>
                        <p> {{ comment.comment }} • {{ comment.rate }}/10</p>
                        </br>
                                {% if app.user is null %}
                                    <p>Vous ne pouvez supprimer un commentaire dont vous n'êtes pas l'auteur.e.</p>
                                {% else %}
                                    {{ include('comment/_delete_form.html.twig') }}
                                {% endif %}

                    {% else %}
                        <p>Aucun commentaire n'a été posté pour le moment.</p>
                    {% endfor %}

            </div>

        </div>



    </div>
</div>
{% endblock %}