{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

<div class="title-pages">
    <h1>Toutes les séries : </h1>
</div>

<div class="content-category-series">

    {% for program in programs | reverse %}

        <div id="category-series">

            <a href="{{ path("program_show", { id: program.id }) }}"><img id="category-series-img" src="{{ program.poster }}"></a>


            <h2 class="title-serie">{{ loop.index }} / {{ program.title }}</h2>
            <p class="summary-serie">{{ program.category.name }}</p>
            <p class="summary-serie">{{ program.summary|length > 80 ? program.summary|slice(0, 80) }}...</p>

                <a href="{{ path("program_show", { id: program.id }) }}"><p class="btn-lire">Voir la fiche</p></a>

        </div>

    {% else %}
        Aucune série trouvée.
    {% endfor %}

</div>

    <div>
        <a class="btn-return" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>

        <a class="btn-return" href="{{ path('program_new') }}">
            Ajouter une série
        </a>
    </div>

{% endblock %}