{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}

<div id="content" class="content">

    <div class="content-page">

        <div class="media">
            <img class="image-showProgram" src="{{program.poster}}" alt="{{ program.title }} poster">
        </div>

        <div class="media-body">
            <h1 class="program-title">{{ program.title }}</h1>
                <p class="show-category-serie">Catégorie : {{ program.category.name }}</p>
                    <p class="show-program-summary"> Synopsis : {{ program.summary }}</p>


            <div class="seasons-and-actors">
                <div class="box-seasons">
                    <span class="title-box">SAISONS DISPONIBLES :</span>
                        <ul class="list-actors">
                            {% for season in program.seasons %}
                            <li class="actors">
                                <a href="{{ path("program_showSeason", { slug: program.slug, season_id: season.id }) }}">{{ season.description }}</a>
                            </li>
                            {% else %}
                                <li class="actors">Aucune saison pour cette série</li>
                            {% endfor %}
                        </ul>
                </div>

                <div class="box-actors">
                    <span class="title-box">ACTEUR.ICE.S :</span>
                        <ul class="list-actors">
                            {% for actor in program.actors %}
                                <li class="actors"> <a href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.name }}</a> </li>
                            {% else %}
                                <li class="actors">Aucun.e acteur.rice.s pour cette série</li>
                            {% endfor %}
                        </ul>
                </div>
            </div>

            <p><a class="btn-show-program" href="{{ path('program_edit', {slug: program.slug}) }}">Modifier la série
            </a></p>

            <p><a class="btn-show-program" href="{{ path('program_index') }}">
                Retour à la liste des séries
            </a></p>
        </div>

    </div>
</div>
{% endblock %}