<nav>

 <div class="sidebar">

        <a href="{{ path('app_index') }}"><p id="logo-wild">Wild</p></a>
        <a href="{{ path('app_index') }}"><p id="logo-series">Series</p></a>

        <nav>
            <ul>
                <li>
                        <span><a class="nav-li" href="{{ path('category_index') }}">Catégories</a></span>
                </li>
                <li>
                        <span><a class="nav-li" href="{{ path('program_index') }}">Séries</a></span>
                </li>
                <li>
                        <span><a class="nav-li" href="{{ path('actor_index') }}">Acteur.ice.s</a></span>
                </li>
                <li>
                        <span><a class="nav-li" href="{{ path('login') }}">Connexion</a></span>
                </li>
                <li>
                        <span><a class="nav-li" href="{{ path('app_logout') }}">Déconnexion</a></span>
                </li>
            </ul>
        </nav>
    </div>

</nav>